In [7]:
import pandas as pd

In [8]:
"""Задание 1
Скачайте с сайта grouplens.org...movielens/ датасет любого размера. 
Определите какому фильму было выставлено больше всего оценок 5.0."""

'Задание 1\nСкачайте с сайта grouplens.org...movielens/ датасет любого размера. \nОпределите какому фильму было выставлено больше всего оценок 5.0.'

In [9]:
data_1 = pd.read_csv('ratings.csv')
data_1.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [10]:
data_1[['movieId', 'rating']][data_1.rating == 5].groupby('movieId').count().sort_values(by='rating').tail(1)

         rating
movieId
318         153

In [ ]:
"""Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) 
категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity."""

In [15]:
data_2 = pd.read_csv('power.csv')
data_2.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [45]:
filtered_countries = data_2[(data_2['country'] == 'Latvia')|(data_2['country'] == 'Lithuania')|
                            (data_2['country'] == 'Estonia')]
filtered_countries_categories = filtered_countries[(filtered_countries['category'] == 4)|
                                                   (filtered_countries['category'] == 12)|
                                                  (filtered_countries['category'] == 21)]
filtered_countries_categories_year = filtered_countries_categories[(2005 <= filtered_countries_categories['year']) & 
                                                                    (filtered_countries_categories['year'] <=2010)]
filtered_countries_categories_year_quantity = filtered_countries_categories_year[
                                                (filtered_countries_categories_year['quantity'] > 0)]
filtered_countries_categories_year_quantity['quantity'].sum()

240580.0

In [ ]:
"""Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni"""

In [47]:
page_url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'

In [51]:
df = pd.read_html(page_url, attrs = {'class': 'header_user_pricebox'}, encoding='utf-8')
df

[     0       1     2        3       4      5        6       7     8        9   \
 0  ММВБ   3 832  0,2%   Nasdaq  14 360  -0,1%  Биткойн  33 084  3,5%  USD/RUB
 1   РТС   1 672  0,4%   S&P500   4 281   0,3%    Нефть     760  0,5%  EUR/RUB
 2   Dow  34 434  0,7%  FTSE100   7 136   0,4%   Золото   1 781  0,3%  EUR/USD

        10     11
 0  722350  -0,2%
 1  861735   0,0%
 2   11936   0,0%  ]